html, body {
  margin: 0;
  background: #f5f7fa;
  font-family: Arial, sans-serif;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.card-filter{
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 1em 0;
}

.card-filter button{
  padding: 0.5em 1em;
  border: none;
  background: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.card-filter button.active{
  background: #0056b3;
  color: #fff;
}

/*image card style*/
.image-card img{
  width: 180px;
  height: 135px; /*가로세로 비율 4:3*/
  overflow: hidden;
  position: relative;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/*basic card style*/
.card {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* 표준 드래그 방지*/
  position: absolute;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 180px;
  cursor: grab;
  transition: box-shadow 0.3s;
}

.card.dragging{
  cursor: grabbing;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

/*fixed card position*/
.fixed.intro {
  background: aliceblue;
  top: 50%;
  left: 35%;
  z-index: 990;
  width: 300px;
  height: auto;
  font-size: 20px;
}

.fixed.contact-card {
  background: aliceblue;
  top: 25%;
  left: 60%;
  z-index: 990;
}

.fixed.about-card {
  background: aliceblue;
  top: 70%;
  left: 20%;
  z-index: 990;
}

.fixed {
  position: absolute;
}


.header {
  background: white;
  color: black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main{
  flex: 1;
  background: #ffffff;
}

nav a {
  color: black;
  margin-left: 1rem;
  text-decoration: none;
}

.content {
  padding: 2rem;
  flex: 1;
}

footer{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* 표준 드래그 방지*/
}