html, body {
  margin: 0;
  background: #f5f5f5;
  background-image: 
    linear-gradient(#e1e1e1 1px, transparent 1px),
    linear-gradient(90deg, #e1e1e1 1px, transparent 1px);
  background-size: 20px 20px; /* 격자 크기 */
  background-position: center center;
  font-family: Arial, sans-serif;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.card-filter{
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 1em 0;
}

.card-filter button{
  padding: 0.5em 1em;
  border: none;
  background: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.card-filter button.active{
  background: #0056b3;
  color: #fff;
}

/*image card style*/
.card.image-card{
  width: 180px;
  height: 135px; /*가로세로 비율 4:3*/
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  padding: 10px 10px 40px 10px;
}

.card.card.image-card img {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  pointer-events: none;
}

/*basic card style*/
.card {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* 표준 드래그 방지*/
  position: absolute;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 180px;
  cursor: grab;
  transition: transform 0.2s, box-shadow 0.3s;
  z-index: 1;
}

.card.dragging{
  transform: scale(1.1) rotate(0deg) !important;
  cursor: grabbing;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25);
}

/*fixed card position*/
.fixed {
  background: #ffdf6b;
  z-index: 50;
  position: absolute;
}

.fixed.intro {
  top: 50%;
  left: 35%;
  width: 300px;
  height: auto;
  font-size: 15px;
}

.fixed.contact-card {
  top: 25%;
  left: 60%;
}

.fixed.about-card {
  top: 70%;
  left: 20%;
}

.card.projects {
  background: #ccc;
  width: 200px;
  height: auto;
  overflow: hidden;
}

.card.projects img {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  pointer-events: none;
}

.header {
  background: white;
  color: black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main{
  flex: 1;
  background: #ffffff;
}

nav a {
  color: black;
  margin-left: 1rem;
  text-decoration: none;
}

.content {
  padding: 2rem;
  flex: 1;
}

footer{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* 표준 드래그 방지*/
}