body {
  margin: 0;
  background: #f5f7fa;
  font-family: Arial, sans-serif;
}
/*image card style*/
.image-card img{
  width: 180px;
  height: 135px; /*가로세로 비율 4:3*/
  overflow: hidden;
  position: relative;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


/*basic card style*/
.card {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* 표준 드래그 방지*/
  position: absolute;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 180px;
  cursor: grab;
  user-select: none;
  transition: box-shadow 0.3s;
}

.card.dragging{
  cursor: grabbing;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

/*fixed card position*/
.fixed.intro {
  background: aliceblue;
  top: 250px;
  left: 260px;
}

.fixed.contact-card {
  background: aliceblue;
  top: 520px;
  left: 300px;
}

.fixed.about-card {
  background: aliceblue;
  top: 400px;
  right: 200px;
}

.fixed {
  position: fixed;
}


.header {
  background: white;
  color: black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main{
  flex: 1;
  background: #ffffff;
}

nav a {
  color: black;
  margin-left: 1rem;
  text-decoration: none;
}

.content {
  padding: 2rem;
  flex: 1;
}

footer{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* 표준 드래그 방지*/
}